<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="WpfApplication3.Properties.Settings.Database3ConnectionString"
      connectionString="Data Source=|DataDirectory|\Database3.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="TSLUEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\TSLU.sdf;Password=Tslu12#&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Model3Container" connectionString="metadata=res://*/Model3.csdl|res://*/Model3.ssdl|res://*/Model3.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Database2.sdf&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Database2Entities" connectionString="metadata=res://*/Model5.csdl|res://*/Model5.ssdl|res://*/Model5.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Database2.sdf&quot;"
      providerName="System.Data.EntityClient" />
    <add name="Database3Entities" connectionString="metadata=res://*/Model6.csdl|res://*/Model6.ssdl|res://*/Model6.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\Database3.sdf&quot;"
      providerName="System.Data.EntityClient" />
    <add name="MyDatabase4Entities" connectionString="metadata=res://*/Model7.csdl|res://*/Model7.ssdl|res://*/Model7.msl;provider=System.Data.SqlServerCe.3.5;provider connection string=&quot;Data Source=|DataDirectory|\MyDatabase4.sdf&quot;"
      providerName="System.Data.EntityClient" />
    <add name="WpfApplication3.Properties.Settings.MyDatabase4ConnectionString"
      connectionString="Data Source=|DataDirectory|\MyDatabase4.sdf"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
  </connectionStrings>
</configuration>